@use "../../styles/breakpoints.module.scss" as *;

.container {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    padding: 2%;
    @include breakpoint(lg) {
        padding: 5%;
    }
}
.wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.columnHeadings {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    li {
        flex: 1;
    }
}

.ducksWrapper {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid;
        border: 1px solid;
        overflow-x: auto;
        white-space: nowrap;
        max-width: 500px;
        min-width: 100px;
        text-align: center;
    }
    td:not(.tdImage, .tdDescription) {
        padding: 25px;
    }

    .tdDescription {
        .descriptionWrapper {
            width: 80%;
            min-width: 200px;
            margin: auto;

            height: 100%;
            white-space: normal;
            max-height: 100px;
            padding: 0 25px;
        }
    }
}
.loadMoreButtonWrapper {
    display: flex;
    justify-content: center;

    .loadMoreButton {
        cursor: pointer;
        background-color: #c3c3c3;
        padding: 10px 20px;
        margin-top: 45px;
        border-radius: 5px;
    }
}

.selectedRow {
    background-color: #c3c3c3;
    border: 1px solid blue;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    padding: 10px 10px;

    $shadowColor: #8f8f8f;
    $shadow-elevation-medium: inset 0.3px 0.5px 0.7px rgba($shadowColor, 0.36),
        inset 0.8px 1.6px 2px -0.8px rgba($shadowColor, 0.36), inset 2.1px 4.1px 5.2px -1.7px rgba($shadowColor, 0.36),
        inset 5px 10px 12.6px -2.5px rgba($shadowColor, 0.36);
    .searchBarWrapper {
        background-color: black;
        display: flex;
        flex: 1;
        max-width: 300px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #e6e6e6;
        box-shadow: $shadow-elevation-medium;
    }

    .searchBarInput {
        flex-grow: 1;
        padding: 5px;
        color: hsl(210deg 35% 25%);
    }

    .searchButton {
        padding: 2px;
        cursor: pointer;
        .searchIcon {
            filter: drop-shadow(3px 3px 1px rgba($shadowColor, 0.36));
            fill: hsl(210deg 35% 56%);
            padding: 2px;
            &:hover {
                fill: hsl(224deg 85% 65%);
            }
        }
    }
}

.statusText {
    text-align: center;
    padding: 20px 0;
    color: #6f6f6f;
    font-size: 30px;
}
